<div class="card group/card">
  <div [routerLink]="['/details', product().slug, product().id]" class="cursor-pointer">
    <!-- Product Image -->
    <div class="relative">
      <img [src]="product().imageCover" [alt]="product().title" class="w-full h-48 object-cover" />
    </div>
    <!-- Product Details -->
    <div class="p-4 space-y-2">
      <h3 class="text-sm text-gray-500 font-medium uppercase tracking-wide">
        {{ product().category.name }}
      </h3>
      <h4 class="text-lg font-semibold text-gray-800 line-clamp-1 hover:text-blue-600 cursor-pointer">
        {{ product().title }}
      </h4>
      <div class="flex items-center justify-between mt-3">
        <p class="text-base font-bold text-green-600">{{ product().price }} EGP</p>
        <p class="flex items-center gap-1 text-sm text-gray-600">
          <i class="fa-solid fa-star text-yellow-400"></i>
          {{ product().ratingsAverage }}
        </p>
      </div>
    </div>
  </div>

  <button class="btn translate-y-[120%] group-hover/card:translate-y-0">Add To Cart</button>
</div>
